.app {
  background:rgba(0, 0, 0, 0.7) url('https://i.postimg.cc/TwN0bTvQ/Rectangle-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-blend-mode: darken;
}

/* background: rgba(0, 0, 0, 0.7) url('https://i.postimg.cc/TwN0bTvQ/Rectangle-1.png');
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: darken; */