.home {
    background: rgba(0, 0, 0, 0.7) url('https://i.postimg.cc/TwN0bTvQ/Rectangle-1.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}